<template name="words">
  <div class="container" id="wordDetial">
    <h2>{{name}}</h2>
    <div class="descriptions">
      <form id="wordPost">
        <div class="row">
          <div class="col-lg-6">
            <div class="input-group">
              <input type="text" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">add</button>
            </span>
            </div>
            <!-- /input-group -->
          </div>
          <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
      </form>
      {{#each words}}
      <div class="word">
        <div class="col-md2 pull-left">
          <h4>
            <a href="/words/{{name}}/{{inc word_sequence}}">
              {{name}}
            </a>
            <sup>
              {{inc word_sequence}}
            </sup>
          </h4>
        </div>
        <ul class="list-unstyled">
          <li>
            <span><i>{{fromNow create_date}}</i></span>
          </li>
          <li>
            {{description}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  {{/each}}
  </div>
</template>

