<template name="words">
  <div class="container" id="wordList">
    <div>
    <h2>{{name}}
      {{#unless count}}
      <sup>
        <span class="label label-danger">new</span>
      </sup>
      {{/unless}}
    </h2>
    </div>
    {{#if ErrorAddWord}}
    <div class='alert alert-danger animated fadeInUp' id="error-add-word">{{ErrorAddWord}}</div>
    {{/if}}
    <div class="descriptions">
      {{#if currentUser}}
      <form id="wordPost">
        <div class="row">
          <div class="col-lg-6">
            <div class="input-group">
              <input type="text" class="form-control description">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">add</button>
            </span>
            </div>
            <!-- /input-group -->
          </div>
          <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
      </form>
      {{/if}}
      {{#each words}}
      <div class="word media">
        <h4 class="pull-left" >
          <a href="/words/{{name}}/{{inc word_sequence}}">
            {{name}}
          </a>
          <sup>
            {{inc word_sequence}}
          </sup>
        </h4>
        <ul class="details list-unstyled media-body">
          <li>
            <span><i>{{fromNow create_date}}</i></span>
          </li>
          {{#each atoms}}
            {{description}}
          {{/each}}
          <li>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {{/each}}
</template>

