<template name="home">
  <div class="jumbotron">
    <h1>Mindic</h1>

    <p>
      Mindic is a new way to discover meaning. Write your own dictionary, Share pleasure with friends.
      <br/>
    </p>

    <p><a href="/about" class="btn btn-primary btn-lg">Learn more</a></p>
  </div>
  <hr/>
  <h2>Recently added Words</h2>
  <div class="row">

  </div>
    {{#each recentWords}}
    <span>
      <a href="/words/{{name}}/{{inc word_sequence}}" class="">{{name}}</a> /
    </span>
    {{/each}}
    <span>
      ..and {{wordCount}} words registered.
    </span>
  </div>
  </ul>
</template>